@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:wght@300&display=swap');

:root{
    --navbar-height: 50px;
    --banner-height: 610px;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

a, a:hover{
    text-decoration: none;
    color: unset;
}